article.card2{
	height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-color: #000;
    margin-bottom: 40px;
    max-width: 200px;
}
article.card2>img{
	max-width:100%;
}
article.card2 .movie-information{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-image:linear-gradient(to top, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.5));
}
article.card2 a{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
}
article.card2 .movie-information h2{
	font-size:1.5em;
}
article.card2 .movie-information ul{
	display:flex;
	padding:5px;
	margin:0;
}
article.card2 .movie-information ul li{
	flex:1;
}
article.card2 .movie-information ul li:last-child{
	text-align:right;
}
.movie-information ul li p{
	margin:0;
	font-size:0.9em;
}
.movie-information ul li p>i{
	color:#f0cf4c;
}
